body {
    background: linear-gradient(yellow, blue);
}

.title1 {
    color: #426b33;
    font-family: BrixtonSansTc,sans-serif;
    font-size: 3.6rem;
    margin-left: 20px;
    padding-top: 15px;
}